html
  head
    title Voting | Polls
    include includes/links.pug
    link(rel="stylesheet" href="../public/styles/css/index.css")

  body
    .navbar
      a(href="#" data-toggle="modal" data-target="#modal-login") Login
    .container-fluid
      h1 Voting App prueba

      ul
        each poll in polls
          li #[a(href=`/poll/${poll._id}`) #{poll.name} #[span #{poll.dateCreated}]]

    include login.modal.pug
    include includes/scripts.pug
    if debug
      // insert the script for livereload if it is rendered in debug mode
      script(src="//localhost:35729/livereload.js")
