html
  head
    title Voting | New Poll
    include includes/links.pug
    link(rel="stylesheet" href="../public/styles/css/index.css")

  body
    include includes/navbar.pug
    .container-fluid
      h1 Voting App prueba

      h2 Aquí se mete el rollo

    include includes/scripts.pug
    if debug
      // insert the script for livereload if it is rendered in debug mode
      script(src="//localhost:35729/livereload.js")
